@import "tailwindcss";
@custom-variant dark (&:where([data-mantine-color-scheme="dark"], [data-mantine-color-scheme="dark"] *));

:root {
  --background: oklch(98.4% 0.019 200.873);
  --foreground: #171717;
  --gradient-from: #ecfeff;
  --gradient-to: #cffafe;
  color-scheme: light;
}

[data-mantine-color-scheme="dark"] {
  --background: #020617;
  --foreground: #e5e7eb;
  --gradient-from: #082f49;
  --gradient-to: #0f172a;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
